name: React CI

on:
  push:
    branches: [main,master]


jobs:
  build: 
    runs-on: ubuntu-latest 


    steps:
      - name: check out code 
        uses: actions/checkout@v2


      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          echo "Node Version: $(node --version)"
          echo "NPM Version: $(npm --version)"
          echo "Working Directory: $(pwd)"
          echo "Contents of Working Directory: $(1s -1)"
          echo "Contens of node_modules: $(1s -1 node_modules)"

test: 
  needs: build
  runs-on: ubuntu-latest


  steps:
    - name: Check out code
      uses: action/checkout@v2
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install 


    - name: Run tests
      run: npm test 

  deploy:
    needs: test 
    runs-on: ubuntu-latest
    step: 
      - name: Checkout ode
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '20'
      - name: Install dependencies 
        uses: actions/checkout@v2
      - uses: actions/ setup-node@v2
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Install Vercel CLI        
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information        
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts        
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel        
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
